In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\Maggy\\OneDrive\\Desktop\\userdetail.csv")

In [6]:
df

,User ID,User Name,Age,Location,Registration Date,Phone,Email,Favorite Meal,Total Orders
0,U001,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
1,U002,Bob Smith,35,Los Angeles,2023-02-20,987-654-3210,bob@email.com,Lunch,8
2,U003,Charlie Lee,42,Chicago,2023-03-10,555-123-4567,charlie@email.com,Breakfast,15
3,U004,David Brown,27,San Francisco,2023-04-05,444-333-2222,david@email.com,Dinner,10
4,U005,Emma White,30,Seattle,2023-05-22,777-888-9999,emma@email.com,Lunch,9
5,U006,Frank Green,25,Austin,2023-06-15,888-777-6666,frank@email.com,Dinner,7
6,U007,Grace King,38,Boston,2023-07-02,999-888-7777,grace@email.com,Breakfast,14
7,U008,Henry Lee,31,Miami,2023-08-11,101-202-3030,henry@email.com,Dinner,5
8,U009,Irene Moore,33,Dallas,2023-09-01,202-303-4040,irene@email.com,Lunch,6
9,U010,Jack White,29,Phoenix,2023-10-10,303-404-5050,jack@email.com,Dinner,8

In [8]:
# Step 3: Clean the data
# 3.1 Remove duplicates
df = df.drop_duplicates()

# 3.2 Handle missing values
df = df.dropna(subset=['User ID', 'Email'])  # Drop rows where User ID or Email are missing
df['Total Orders'] = df['Total Orders'].fillna(0)  # Replace missing Total Orders with 0

# 3.3 Standardize text columns (capitalize Location and Favorite Meal)
df['Location'] = df['Location'].str.title()
df['Favorite Meal'] = df['Favorite Meal'].str.capitalize()

# 3.4 Convert date columns to datetime format
df['Registration Date'] = pd.to_datetime(df['Registration Date'], errors='coerce')

# 3.5 Ensure data types are consistent
df['Total Orders'] = df['Total Orders'].astype(int)  # Ensure Total Orders is an integer

# Step 4: Final Cleaned Data Overview
print("\nCleaned Data Overview:")
print(df.head())

# Step 5: Save the cleaned data
df.to_csv("cleaned_data.csv", index=False)
print("\nCleaned data has been saved to 'cleaned_data.csv'.")

Cleaned Data Overview:
  User ID      User Name  Age       Location Registration Date         Phone  \
0    U001  Alice Johnson   28       New York        2023-01-15  123-456-7890
1    U002      Bob Smith   35    Los Angeles        2023-02-20  987-654-3210
2    U003    Charlie Lee   42        Chicago        2023-03-10  555-123-4567
3    U004    David Brown   27  San Francisco        2023-04-05  444-333-2222
4    U005     Emma White   30        Seattle        2023-05-22  777-888-9999

               Email Favorite Meal  Total Orders
0    alice@email.com        Dinner            12
1      bob@email.com         Lunch             8
2  charlie@email.com     Breakfast            15
3    david@email.com        Dinner            10
4     emma@email.com         Lunch             9

Cleaned data has been saved to 'cleaned_data.csv'.